:root {
    --beige: rgb(197, 197, 177);
    --white: #fff;
    --orange: #f79a0a;
    --black: black; 
    --lightgrey: #a5a5a5;
    --mediumgrey: #666666;
    --darkgrey:#333333;
    --largegap: 10px;
    --gap: 7px;
    }