@import "_variables.css";

body {
  background: var(--background);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  margin-top: 30px;
  padding: 10px;
  background-color: var(--white);
}
#calculator__back {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  gap: var(--largegap);
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: white;
}
#calculator__front {
 display: none;
}
#calculator__display {
  font-size: 60px;
  text-align: right;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  background-color: var(--black);
  color: var(--white);
}
.calculator__row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}
.calculator__last__row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.button__lightgrey,
.button__darkgrey,
.button__orange {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--lightgrey);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}
.button__lightgrey {
  font-weight: 700;
  font-size: 20px;
  background-color: var(--lightgrey);
}
.button__darkgrey {
  font-weight: 400;
  color: white;
  font-size: 24px;
  background-color: var(--darkgrey);
}
.button__orange {
  font-weight: 300;
  color: white;
  font-size: 28px;
  background-color: var(--orange);
}
button:hover,
.button__lightgrey:hover,
.button__darkgrey:hover,
.button__orange:hover {
  background-color: var(--mediumgrey);
  transition: ease-in-out;
  transition-duration: 0.35s;
}
button {
  width: 117px;
  border-radius: 42px;
  text-align: left;
  padding-left: 20px;
  border: none;
  background-color: var(--darkgrey);
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 24px;
}
hr {
  width: 30%;
  border-radius: 10px;
  height: 2px;
  margin-top: 30px;
  background-color: var(--verylightgrey);
  border: none;
}

@media screen and (min-width: 768px) {
  #calculator__display {
    font-size: 80px;
  }
  #calculator {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .button__lightgrey,
  .button__darkgrey,
  .button__orange {
    width: 85px;
    height: 85px;
    font-size: 32px;
  }

  button {
    width: 177px;
    padding-left: 36px;
    font-size: 32px;
  }
  hr {
    height: 3px;
    margin-top: 50px;
  }
  #calculator__back,
  #calculator__front {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    gap: var(--largegap);
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    border-color: white;
  }
  #calculator__front {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 100;
    width: 234px;
  }
  .flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card:hover .flip-card-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }
}

@media screen and (min-width: 1440px) {
  #calculator__display {
    font-size: 100px;
  }
  h1 {
    margin-top: 10px;
  }
  #calculator {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }
  .button__lightgrey,
  .button__darkgrey,
  .button__orange {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
  .button__orange {
    font-size: 50px;
  }
  button {
    width: 207px;
    padding-left: 42px;
    font-size: 40px;
    border-radius: 68px;
  }
  hr {
    height: 4px;
    margin-top: 65px;
  }
}
